/bower_components/
/node_modules/
/.pulp-cache/
/output/
/deprecated/
/examples/display-tests/dist/display-tests.js
/examples/full-tune/dist/full-tune.js
/examples/align-staves/dist/align-staves.js
/examples/errors/dist/errors.js
/.psc*
/.psa*
/.purs*
/.psc*
