/bower_components/
/node_modules/
/.pulp-cache/
/output/
/.spago/
/deprecated/
/examples/display-tests/dist/display-tests.js
/examples/full-tune/dist/full-tune.js
/examples/scaling/dist/scaling.js
/examples/align-staves/dist/align-staves.js
/examples/beaming/dist/beaming.js
/examples/chord-symbols/dist/chord-symbols.js
/examples/slurs/dist/slurs.js
/examples/thumbnail/dist/thumbnail.js
/examples/clefs/dist/clefs.js
/examples/bugs/
/examples/debug/
/reference/
/.psc*
/.psa*
/.purs*
/.psc*
/.metals
/.vscode
